.clsChildDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


img {
    max-width: 100%;
}

button {
    background-color: #e77172;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    width: 124px;
    align-self: center;
    border-radius: 15px;

}

button:hover {
    background-color: #fff;
    color: #e77172;
    border: 1px solid #e77172;
}

.clsChildDiv p {
    text-align: center;
}